@config "../../tailwind.config.js";
@import "tailwindcss";

html {
  font-size: 18px;
}

.w-fill {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
.h-fill {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}